<!doctype html>
<html>
  <head>
    <title>LT Giphy Battle!</title>
	<link rel="shortcut icon" href="/assets/images/favicon.png" />
	
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; padding-bottom: 50px; }
      form { background: #18b9d6; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding-bottom: 45px; padding-right: 10px; padding-left: 10px;}
	  .instructions { color: blue; padding: 10px !important;larav }
	  
    </style>
  </head>
  <body>
	
	<div class="instructions">
			INSTRUCTIONS: Send a tag (eg. cats) to load a new random image for that tag every ten minutes. Hit ENTER to force a reload. 
			Or, send a url directly to an image (starting with http:// and ending in .gif, .jpg, or .png) to keep that image loaded.
			Your image will be kicked off as soon as someone else sends a battle.
			Also, there might be some <a href="/rooms" target="_blank">other rooms</a> available besides this one.
			<br><br>
			Use /up and /down to vote the current image up or down. A score of less than -2 within 10 minutes will reload a new random image.<br>
			Use /show to see the current image and its source location. <br>
			Use /favorite to add the current image to <a href="/<%= room %>/favorites" target="_blank">favorites</a>. <br>
			Use /say a message to overlay "a message" text onto the image like a meme. Use /saybottom and /saytop for different positioning.<br>
			Use /pause and /unpause to lock an image and meme text in place, or restore 10 minute refreshes.
	</div>
	  
    <ul id="messages">
		<% messages.forEach(function(message) { %>
			<li><%= message.message %></li>
		<% }); %>
    </ul>
	
    <form action="">
      <input id="m" autocomplete="off" placeholder="Enter tag or command.. scroll up to see instructions." /><button>Send</button>
    </form>

	
	<script src="/socket.io/socket.io.js"></script>
	<script src="/assets/js/jquery/jquery.js"></script>
	<script>
	

	$(document).ready(function() {
  	  var socket = io();
  	  
	  $("#m").focus();
	  $("html, body").animate({ scrollTop: $(document).height() }, "fast");
	   
  	  $('form').submit(function(){
		  
		  var message = { text: $('#m').val(), room: '<%= room %>' };
		  
		  if (message.text)
		  {
			  if (message.text == '/show')
			  {
			  	socket.emit('getsource', message);
			  }
			  else if (message.text == '/favorite')
			  {
			  	socket.emit('getfavorite', message);
			  }
			  else
			  {
				socket.emit('tag message', message);
			  }
		  }
		  else
		  {
			  socket.emit('reload', {"text": 'forced reload', "room": message.room});
		  }
  	   
  	    $('#m').val('').focus();
  	    return false;
  	  });
	  
	  socket.on('connect', function() {
	  	socket.emit('room', '<%= room %>');
	  });
	  
  	  socket.on('tag message', function(msg){
  	      $('#messages').append($('<li>').text(msg.text));
		  $("html, body").animate({ scrollTop: $(document).height() }, "fast");
  	  });
	  
  	  socket.on('gotsource', function(msg){
		  $('#messages').append('<li><img src="' + msg.text + '"></li>');
  	      $('#messages').append($('<li>').text('Location: ' + msg.text));
		  $("html, body").animate({ scrollTop: $(document).height() }, "fast");
  	  });
	  
  	  socket.on('gotfavorite', function(msg){
  	      $('#messages').append($('<li>').text('Favorited: ' + msg.text));
		  $("html, body").animate({ scrollTop: $(document).height() }, "fast");
  	  });
	  
	});
		
	</script>
	  
	  
  </body>
</html>
