<html>
	<head>
		<title>Important LT Dev Business</title>
		
		<style>
			html, body{ width: 99%; height: 99%; overflow: hidden; }
			img { width: 100%; height: 100%; }
		</style>

	</head>
	<body>
		<img src="<%= imgUrl %>">
		
		<script src="/socket.io/socket.io.js"></script>
		<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
		
		<script type="text/javascript">
			var socket = io();
		
	    	socket.on('tag message', function(msg){
			  var re = new RegExp("^https?://(?:[a-z0-9\-]+\.)+[a-z]{2,6}(?:/[^/#?]+)+\.(?:jp?g|gif|png)$");
			  
			  if (re.test(msg)) {
			      window.location.href = '/?url=' + msg;
			  } else {
			  	  window.location.href = '/?tag=' + msg;
			  }
	   	    });
			
			setTimeout(function(){
		   	 	window.location.reload();
			}, 600000); // ten minutes
			
		</script>
		
	</body>
</html>
